/* Mobile device */
@media screen and (max-width: 576px) {
    *{
        font-size: 10px;
    }
    /* header start */
    nav,
    .teams-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
        gap: 30px;
    }
    header {
        background: rgba(255, 144, 14, 0.1);
        padding: 20px 10px 20px 10px;
      }
      .banner-section {
        margin-top: 20px;
    }
      /* main start */
      /* teams section */
      .teams-img-container {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .teams-content,.facts-card-container, .features {
        padding-left: 20px;
        padding-right: 20px;
    }
    .teams-container {
      padding: 0 0px;
  }
    /* stats section */
    .facts-card-container {
        flex-direction: column;
        gap: 20px;

      }
      .ten-years-badge {
        position: relative;
        padding: 20px;
        width: 110px;
        left: -10px;
        bottom: 34px;
    }
      .ten-years-badge h2 {
        font-size: 2rem;
    }
      /* features section starts */
      .feature-img img {
        width: 100%;
        margin-left: 0;
      }
      
      .facts {
        padding: 26px 20px;
    }
  /* sponsors section */
  .sponsors-img-container img {
    max-width: 33%;
}

}


/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    /* header */
    header,.facts-card-container, .features {
        padding: 20px 10px 20px 10px;
      }
    nav, 
    .teams-container,
    .sponsors-img-container,
    .features 
     {
        flex-direction: column;
        gap: 30px;
    }
    /* main start */
    .teams-content {
        padding-left: 0px;
    }
    /* features section */
    .feature-img img {
        width: 100%;
        margin-left: 0;
      }
      .ten-years-badge {
        position: static;
        max-width: 100%;
      }

   
}